.ruby-version
.rvmrc
.sass-cache/**/*
.bundle
db/*.sqlite3*
log/*
*.log
tmp/**/*
tmp/*
.DS_Store

.idea/.generators
.idea/.name
.idea/.rakeTasks
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/notesolution.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/**
README2.md